{% extends 'personal/header.html' %}
{% load staticfiles %}

{% block content %}

<h3>나의 능력은?</h3>
<div class="row col-md-offset-2 col-md-8">
  <div class="col-sm-4">
    <img src="{% static 'personal/img/python_logo.png' %}" class="img-responsive" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-4">
    <img src="{% static 'personal/img/PHP_logo.png' %}" class="img-responsive" style="width:100%" alt="Image">
  </div>
  <div class="col-sm-4">
    <img src="{% static 'personal/img/django_logo.png' %}" class="img-responsive" style="width:100%" alt="Image">
  </div>
</div>



{% endblock %}
