{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>CJH portfolio Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<style>
		.bg-1 {
			background-color: #10cc57; /* Green */
			color: #ffffff;
		}
		.bg-2 {
      background-color: #b6ee97; /* Dark Blue */
      color: #000000;
	  }
	  .bg-3 {
	      background-color: #ffffff; /* White */
	      color: #555555;
	  }
		.cf-1{
  	  padding-top: 70px;
  	  padding-bottom: 70px;
		}
		.navbar {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    border: 0;
	    border-radius: 0;
	    margin-bottom: 0;
	    font-size: 12px;
	    letter-spacing: 5px;
		}
		</style>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Me</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/blog/">BLOG</a></li>
	        <li><a href="/ability/">ABILITY</a></li>
	        <li><a href="/contact/">CONTACT</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

<div class="container-fluid cf-1 bg-1 text-center">
	<h3>백엔드가 필요한가</h3>
	<img src="{% static 'personal/img/profile.jpg' %}" class="img-circle img-responsive" style="margin-left: auto; margin-right: auto; width: 20em; display: block;" alt="cjh">
	<h3>지금은 곤란하다.<br> 조금만 기다려달라.</h3>
</div>

<div class="container-fluid cf-1 bg-2 text-center">
	{% block content %}
  {% endblock %}
</div>

</div>
<footer>
	<div class="container-fluid" style='margin-left:15px'>
	<p><a href="/">Home</a> | <a href="/blog/">Blog</a> | <a href="/ability/">Ability</a> | <a href="/contact/">Contact</a> | <a href="#" target="blank">LinkedIn</a> </p>
	</div>
</footer>
</body>

</script>
</html>
				<!-- <li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li> -->
